@CHARSET "UTF-8";
.fuckyes {
	font-size: 100px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  opacity: 0;
  -webkit-animation: move linear 2s infinite;
  -webkit-animation-delay: 2s;
  animation: move linear 2s infinite;
  animation-delay: 2s;
}
@-webkit-keyframes move {
	 0% {
	 font-size: 150px;
	 color: purple;
	 opacity: 1;
	-webkit-transform: perspective(600px) translate3d(0, 0, 0) rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
	}
	 10% {
	 font-size: 200px;
	 color: aqua;
	-webkit-transform: perspective(600px) translate3d(200px, -250px, 0) rotateX(40deg) rotateY(30deg) rotateZ(10deg);
	}
	20% {
	 font-size: 200px;
	 color: fuchsia;
	-webkit-transform: perspective(600px) translate3d(-300px, 200px, 2px) rotateX(35deg) rotateY(50deg) rotateZ(-20deg);
	}
	 30% {
	 font-size: 200px;
	 color: lime;
	-webkit-transform: perspective(600px) translate3d(340px, -300px, 5px) rotateX(35deg) rotateY(-40deg) rotateZ(20deg);
	}
	42% {
	 font-size: 200px;
	 color: maroon;
	-webkit-transform: perspective(600px) translate3d(0, -130px, 0) rotateX(-40deg) rotateY(45deg) rotateZ(-15deg);
	}
	52% {
	 font-size: 200px;
	 color: olive;
	-webkit-transform: perspective(600px) translate3d(-250px, -250px, 0) rotateX(30deg) rotateY(-30deg) rotateZ(-30deg);
	}
	62% {
	 font-size: 200px;
	 color: yellow;
	 opacity: 1;
	-webkit-transform: perspective(600px) translate3d(0, -50px, 0) rotateX(15deg) rotateY(360deg) rotateZ(-10deg);
	}
	76% {
	 font-size: 200px;
	 color: yellow;
	 opacity: 1;
	-webkit-transform: perspective(600px) translate3d(200px, 50px, 0) rotateX(-20deg) rotateY(390deg) rotateZ(15deg);
	}
	86% {
	 font-size: 200px;
	 color: yellow;
	 opacity: 1;
	-webkit-transform: perspective(600px) translate3d(300px, -100px, 0) rotateX(15deg) rotateY(400deg) rotateZ(-10deg);
	}
	100% {
	 font-size: 150px;
	 color: navy;
	 opacity: 0;
	-webkit-transform: perspective(600px) translate3d(0, 0, 0) rotateX(0deg) rotateY(450deg) rotateZ(0deg);
	}
}
@keyframes move {
	 0% {
	 font-size: 150px;
	 color: purple;
	 opacity: 1;
	transform: perspective(600px) translate3d(0, 0, 0) rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
	}
	 10% {
	 font-size: 200px;
	 color: aqua;
	transform: perspective(600px) translate3d(200px, -250px, 0) rotateX(40deg) rotateY(30deg) rotateZ(10deg);
	}
	20% {
	 font-size: 200px;
	 color: fuchsia;
	transform: perspective(600px) translate3d(-300px, 200px, 2px) rotateX(35deg) rotateY(50deg) rotateZ(-20deg);
	}
	 30% {
	 font-size: 200px;
	 color: lime;
	transform: perspective(600px) translate3d(340px, -300px, 5px) rotateX(35deg) rotateY(-40deg) rotateZ(20deg);
	}
	42% {
	 font-size: 200px;
	 color: maroon;
	transform: perspective(600px) translate3d(0, -130px, 0) rotateX(-40deg) rotateY(45deg) rotateZ(-15deg);
	}
	52% {
	 font-size: 200px;
	 color: olive;
	transform: perspective(600px) translate3d(-250px, -250px, 0) rotateX(30deg) rotateY(-30deg) rotateZ(-30deg);
	}
	62% {
	 font-size: 200px;
	 color: yellow;
	 opacity: 1;
	transform: perspective(600px) translate3d(0, -50px, 0) rotateX(15deg) rotateY(360deg) rotateZ(-10deg);
	}
	76% {
	 font-size: 200px;
	 color: yellow;
	 opacity: 1;
	transform: perspective(600px) translate3d(200px, 50px, 0) rotateX(-20deg) rotateY(390deg) rotateZ(15deg);
	}
	86% {
	 font-size: 200px;
	 color: yellow;
	 opacity: 1;
	transform: perspective(600px) translate3d(300px, -100px, 0) rotateX(15deg) rotateY(400deg) rotateZ(-10deg);
	}
	100% {
	 font-size: 150px;
	 color: navy;
	 opacity: 0;
	transform: perspective(600px) translate3d(0, 0, 0) rotateX(0deg) rotateY(450deg) rotateZ(0deg);
	}
}
.untz {
	font-size: 100px;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
    opacity: 0;
	-webkit-animation: untz linear 2s infinite;
	animation: untz linear 2s infinite;
    -webkit-animation-delay: 21s;
    animation-delay: 21s;
}
@-webkit-keyframes untz {
	 0%, 15%, 30%, 37%, 50%, 58%, 70% {
	 font-size: 200px;
	 color: purple;
	 opacity: 0;
	-webkit-transform: perspective(600px) translate3d(0, 0, 0) rotate(-50deg);
	}
	10% {
	font-size: 300px;
	color: black;
	opacity: 0.8;
	-webkit-transform: perspective(600px) translate3d(-400px, -300px, 0) rotate(-60deg);
	}
	20% {
	font-size: 300px;
	color: black;
	opacity: 0.8;
	-webkit-transform: perspective(600px) translate3d(460px, -350px, 0) rotate(-50deg);
	}
	42% {
	font-size: 300px;
	color: black;
	opacity: 0.8;
	-webkit-transform: perspective(600px) translate3d(-460px, -350px, 0) rotate(50deg);
	}
	62% {
	font-size: 200px;
	color: black;
	opacity: 0.8;
	-webkit-transform: perspective(600px) translate3d(460px, -200px, 0) rotate(-80deg);
	}
}
@keyframes untz {
	 0%, 15%, 30%, 50%, 70% {
	 font-size: 200px;
	 color: purple;
	 opacity: 0;
	transform: perspective(600px) translate3d(0, 0, 0) rotate(-50deg);
	}
	10% {
	font-size: 300px;
	color: black;
	opacity: 0.8;
	transform: perspective(600px) translate3d(-400px, -300px, 0) rotate(-60deg);
	}
	20% {
	font-size: 300px;
	color: black;
	opacity: 0.8;
	transform: perspective(600px) translate3d(460px, -350px, 0) rotate(50deg);
	}
	42% {
	font-size: 300px;
	color: black;
	opacity: 0.8;
	transform: perspective(600px) translate3d(-460px, -350px, 0) rotate(-50deg);
	}
	62% {
	font-size: 200px;
	color: black;
	opacity: 0.8;
	transform: perspective(600px) translate3d(460px, -200px, 0) rotate(-80deg);
	}
}
.button {
	font-size: 50px;
	margin-top: 130px;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 50%;
		height: 30%;
		margin: auto;
		opacity: 0;
	-webkit-animation: opacity linear 5.4s;
	animation: opacity linear 5.4s;
}

.ereuntz {
	font-size: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
    opacity: 0;
	-webkit-animation: opacity linear 5.4s;
	animation: opacity linear 5.4s;
}

@-webkit-keyframes opacity {
	from {opacity: 1;}
	to {opacity: 0;}
}
@keyframes opacity {
	from {opacity: 1;}
	to {opacity: 0;}
}
.fuckno {
	opacity: 0;
	font-size: 120px;
    -webkit-animation: show linear 5s infinite;
	animation: show linear 5s infinite;
	-webkit-animation-delay: 6.5s;
    animation-delay: 6.5s;
}
@-webkit-keyframes show {
	0%, 100% {opacity: 1; }
	50% {opacity: 0.8; }
}
@keyframes show {
	0%, 100% {opacity: 1; }
	50% {opacity: 0.8; }
}
.date {
	opacity: 0;
	font-size: 40px;
    -webkit-animation: show linear 5s infinite;
	animation: show linear 5s infinite;
	-webkit-animation-delay: 6.5s;
    animation-delay: 6.5s;
}
.small {
	font-size: 16px;
}
#defvid { position: absolute; width:99%; height:99%; }
#frevid { position: absolute; width:100%; }
#myimage {
	opacity: 0;
	margin: auto;
/* 	top: 0; */
/*     bottom: 0; */
/*     left: 0; */
/*     right: 0; */
    max-width:100%;
    max-height:100%;
    width: auto;
    height: auto;
	-webkit-animation: show linear 5s infinite;
	animation: show linear 5s infinite;
	-webkit-animation-delay: 6.5s;
    animation-delay: 6.5s;
}
.image {
	position: absolute; width:100%; height:auto;
}
